*.log
*.pot
*.pyc
*.esproj
*.sublime-project
*.sublime-workspace
*.orig
.DS_Store
.svn
.idea
*.db
cms_media
*.egg
distribute*gz
bin
lib
include
local
src
*/upload/*
!*/upload/robots.txt
!*/upload/favicon.*
!*/upload/galleries/
*/upload/galleries/*
!*/upload/galleries/README.txt
